<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create new comment</title>
</head>
<body>
	<form action="/comment/create" method="post">
		<label for="name">Title</label>
		<input type="text" name="name">
		<label for="text">Text</label>
		<input type="text" name="text">
		<input type="submit" value="Submit">
	</form>
</body>
</html>