<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Контакты</title>
</head>
<body>
	<h1>Contacts</h1>
			<a href="/">Главная</a>&nbsp;
		<a href="/service">Услуги</a>&nbsp;
		<a href="/projects">Проекты</a>&nbsp;
		<a href="/contacts">Контакты</a>&nbsp;
		<br>
	<p>Контакты</p>
</body>
</html>