<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create new post</title>
</head>
<body>
	<form action="/create" method="post">
		<label for="title">Title</label>
		<input type="text" name="title">
		<label for="text">Text</label>
		<input type="text" name="text">
		<input type="submit" value="Submit">
	</form>
</body>
</html>