<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create new post</title>
</head>
<body>
	<form action="/project/create" method="post" enctype="multipart/form-data">
		<label for="title">Title</label>
		<input type="text" name="title">
		<label for="text">Text</label>
		<label for="image">Image</label>
		<input type="file" accept="gif, jpg, jpeg, png" name="image">
		<input type="text" name="text">
		<input type="submit" value="Submit">
	</form>
</body>
</html>